PORT=3000
RAZORPAY_KEY_ID=rzp_test_XXXX
RAZORPAY_KEY_SECRET=xxxx
APPOINTMENT_AMOUNT_PAISE=145000
OWNER_WHATSAPP=919894195050
TEST_MAIL=rasheedrah6@gmail.com
OWNER_MAIL=gamcamedicaltrz@gmail.com
SEND_TO_OWNER=false
# SMTP_USER=
# SMTP_PASS=
